# OpenAI API 配置
OPENAI_API_KEY=
OPENAI_API_BASE=
OPENAI_MODEL=


# 高德天气 api-key
AMAP_KEY=

# Tavily 搜索 API（可选）
TAVILY_API_KEY=

# 服务器配置
SERVER_HOST=0.0.0.0
SERVER_PORT=8000
SERVER_RELOAD=true

# 日志配置
LOG_LEVEL=INFO
LOG_FILE=logs/app.log

# 应用配置
APP_NAME=LC-StudyLab
APP_VERSION=0.1.0
DEBUG=true

